.select_wrapper {
    position: relative;
    width: 160px;
    height: 39px;
    margin:15px;
  }
  .select_wrapper p{
      position: absolute;
      background: white;
      color: #8F8B8B;
      bottom: 20px;
      left: 22px;
      letter-spacing: 0.01em;
      padding: 1px;
      font-weight: 400;
      letter-spacing: 0.03em;
      font-size: 10px;
  }
 
  .select_wrapper::after {

    content: url('../../assets/invert.svg');
    margin-right: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px;
  }
  .select img{
    margin-right: 10px;
    background-color: green;
    width: 20vw;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 20px; 
  }
  .select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: white;
    border: 0.5px solid #C4C4C4;
    border-radius: 2px;
    cursor: pointer;
    padding: 12px;
    padding-left: 25px;
    width: 100%;
    font-size: 14px;
    /* font-weight:inherit; */
    line-height: 18px;
    font-style: normal;
    color: #3F3F3F;
    font-family: 'Circular Std', sans-serif ;
    font-weight:400 !important;
  }

  .select:focus {
    color: black;
  }

  .select::-ms-expand {
    display: none;
  }
 


  @media (max-width:780px) {
    .select_wrapper{
      width: 319px;
     padding: 4px;
    }
  .select_wrapper p{
    bottom: 23px;
  }
  }