.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
    gap: 40px;
}
.loader{
    height: 100vh;
    width: 100vw;
    display: flex;
    place-items: center;
    justify-content: center;
}
.loader img{
    height: 320px;
    width: 320px;
}
.empty{
    height: 50vh;
  font-size: 23px;
    display: flex;
    place-items: center;
    justify-content: center;
    gap: 6px;
}
.icon{
color: #FC830A;
height: 300%;
width: 300%;
font-size: 40px;
}

 @media (max-width:1300px) {
  .wrapper{
      justify-content: space-evenly;
  }}

